.poll {
  border: 1px solid #eee;
  text-align: left;
}

.pollImage {
  display: block;
  width: 100%;
}

.pollHeading {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
  padding: .5em;
  margin: 0;
}

.pollVoteCount {
  font-weight: normal;
  color: #bbb;
  font-size: .6em;
}
